<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="url_rewrite_mass_actions" frontName="url_rewrite_mass_actions">
            <module name="MageSuite_UrlRewriteMassActions"/>
        </route>
    </router>
</config>